### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### IDE ###
.idea
*.iws
*.iml
*.ipr
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.nb-gradle/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Environment ###
.env
*.swp
*.swo

### Build artifacts ###
*.jar
*.war
*.ear
*.class

### IntelliJ misc ###
*.hprof
.idea/libraries
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/shelf/
*.template.md